</div>

<!-- copyright --->
<div class="card bg-dark text-white">
    <img src="https://drive.google.com/uc?export=download&id=1CFPjii_30j6GRhewttkRKEJ6EjVWR1Gi" class="card-img" alt="...">
</div>


<script src = "https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src = "https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

<!--기능 js 추가 -->
<script src="/js/stock.js?ver=1"></script>
<script src="/js/user.js?ver=2"></script>

<script async custom-template="amp-mustache" src="/images/copyright.jpg"></script>

</body>
</html>