<!DOCTYPE HTML>
<html>
<head>
    <title>JunHo Stock Manage</title>
    <meta http-equiv="Content-Type" content="text/html" charset="UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/mainFrame.css">
    <link rel="stylesheet" href="/css/login.css">

    <meta id="_csrf" name="_csrf" content="${_csrf.token}" />
    <meta id="_csrf_header" name="_csrf_header" content="${_csrf.headerName}" />
</head>

{{>layout/navbar}}

<body>
<div class="mainFrame-background">

    <div class="loading"></div>