{{>layout/header}}

<div class="container">
    {{#stock}}
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">발주처</th> <!-- ex) WS-C2960L-24TS-AP -->
                <th scope="col">장비 종류</th> <!-- ex) 10000000 -->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>
                    <select id="client">
                        <option value="{{client}}">발주처 선택 (미입력시 기존 데이터로 적용)</option>
                        <option value="CISCO">CISCO</option>
                        <option value="ARUBA">ARUBA</option>
                        <option value="etc">etc</option>
                    </select>
                </td>
                <td>
                    <select id="classification">
                        <option value="{{classification}}">장비 종류 선택 (미입력시 기존 데이터로 적용)</option>
                        <option value="스위치">스위치</option>
                        <option value="무선 AP">무선 AP</option>
                        <option value="etc">etc</option>
                    </select>
                </td>
            </tr>
            </tbody>
        </table>

        </br>
        </br>

        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">모델명</th> <!-- ex) WS-C2960L-24TS-AP -->
                <th scope="col">원가</th> <!-- ex) 10000000 -->
                <th scope="col">사이트</th> <!-- ex) 용인송담대학교 -->
                <th scope="col">품의번호</th> <!-- ex) C20-000 -->
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="*"><input type="text" id="modelName" value="{{modelName}}"></td>
                <td width="30%"><input type="text" id="price" value="{{price}}"></td>
                <td width="30%"><input type="text" id="site" value="{{site}}"></td>
                <td width="20%"><input type="text" id="itemNumber" value="{{itemNumber}}"></td>
            </tr>
            </tbody>
        </table>
        <table class="table table-bordered">
            <thead>
            <tr>
                <th scope="col">공급가</th>
                <th scope="col">사용자</th>
                <th scope="col">공급처</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td width="*"><input type="text" id="supplyPrice" value="{{supplyPrice}}"></td>
                <td width="*"><input type="text" id="user" value="{{userName}}" readonly></td>
                <td width="*"><input type="text" id="vendor" value="{{vendor}}"></td>
            </tr>
            </tbody>
        </table>

        <label for="exampleFormControlTextarea1">비고 (1500자 이하)</label>
        <textarea class="form-control" id="memo" name="text" rows="10"
                  placeholder="내용 입력">{{memo}}</textarea>

        <div align="right">
            </br>
            <button type="submit" class="btn btn-primary" id="btn-saveUpdate">저장</button>
            <button type="submit" class="btn btn-warning" id="btn-deleteUpdate">삭제</button>
        </div>
    {{/stock}}
</div>

{{>layout/footer}}